<link rel="stylesheet" href="/CSS/header.css">
<header>
    <a href="/"><h3>Placement Cell</h4></a>
    <h3>Welcome&nbsp;&nbsp;<%=user.name%> </h3>
    <div>
    <h4><a href="/company/home">Company</a></h4>
    <h4> <a href="/dowmload-csv">Download Report</h4></a>
    <h4><a href="/destroy">Sign Out</a></h4>
    </div>
</header>