<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body id="body1" >
    <u><h3>ADD A STUDENT</h3></u>
    <form action="/student/studentcrate" method="post">
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">Enter Batch:</label>
        <input type="text" name="batch" placeholder="Batch no.." style="margin: 0 0 0 0;"></section>
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">Enter Name:</label>
        <input type="text" name="name" placeholder="enter student name.." style="margin: 0 0 0 0;"></section>
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">Enter Email:</label>
        <input type="email" name="email" placeholder="enter email.." style="margin: 0 0 0 0;"></section>
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">Enter college Name:</label>
        <input type="text" name="collage" placeholder="enter collage name.."style="margin: 0 0 0 0;"></section>
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">Enter Contact:</label>
        <input type="text" name="contect" placeholder="enter contect number.."style="margin: 0 0 0 0;"></section>
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">DSA Score:</label>
        <input type="text" name="dsa" style="margin: 0 0 0 0;"></section>
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">Forntend Score:</label>
        <input type="text" name="forntend" style="margin: 0 0 0 0;"></section>
        <section style="display: flex;flex-direction: row; margin: 20px 0 0 0;"><label class="form-label" for="name" style="margin: 20px 0 0 -86px;font-weight: bold;">React Score:</label>
        <input type="text" name="react" style="margin: 0 0 0 0;"></section>
        <input type="submit" value="submit">
    </form>
</body>
</html>